.box{
    background-color: darkred;
    border: 1px solid blue;
    min-height: 50px;
    font-size: 2rem;
}
@media(min-width: 768px){
    .news-input{
    width: 50%;
}

}
body::before{
    display: block;
    content:'';
    height:72px;

}
